/* Importo la fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
/* Utilicé Eva Design System para los colores */

:root {
    --color-negro: #252525;
    --color-fondo: #4d4d4d;
    --color-verde: #40B72C;
    --color-rojo: #F74B42;
    --color-azul: #2C63F9;
    --color-naranja: #E29B00;
    --padding: 15px;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
}

body {
    background: var(--color-negro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 2.5rem;
    color: var(--color-naranja);
}

h2 {
    font-size: 1.5rem;
}

.tituloH2-P {
    color: var(--color-rojo);
}

.tituloH2-C {
    color: var(--color-verde);
}

.seccion-tareas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.img-boton {
    height: 50%;
}

.form-tareas {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    background-color: var(--color-fondo);
    padding: var(--padding);
    border-radius: var(--border-radius);
    flex: 1 1 100%;
    max-width: 600px;
    margin: 10px 0px 10px 0px;
}


.input-p {
  display: flex;
  background-color: var(--color-fondo);
  font-size: 1.5rem;
  color: var(--color-azul);
  font-weight: 620;
}

.input-text, .input-textarea, .input-date {
    width: 100%;
    background-color: var(--color-fondo);
    border: none;
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: white;
    font-size: 1.5rem;
    margin: 10px 0px 10px 0px;
}

.input-btn {
    display: flex;
    justify-content: center;
}

.add-btn {
    background: linear-gradient(45deg, var(--color-rojo), var(--color-azul));
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: rgb(226, 226, 226);
    font-size: 2rem;
    cursor: pointer;
    width: 100%;
}

.delete-task, change-task {
    background: #282828;
    margin: 2px;
    border-radius: 50%;
}

.tasks-list-p {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.tasks-list-p li {
    background: #282828;
    color: rgb(226, 226, 226);
    font-size: 1.5rem;
    font-weight: bold; 
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.tasks-list-c {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.tasks-list-c li {
    background: #282828;
    color: rgb(112, 111, 111);
    font-size: 1.5rem;
    text-decoration: line-through;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div-botones {
    display: flex;
    justify-content: flex-start;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .form-tareas {
        flex-direction: column;
        align-items: stretch;   
    }
}